body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.home-container {
  text-align: center;
  margin-top: 150px;
}

h1 {
  font-size: 42px;
  color: #222;
}

p {
  font-size: 18px;
  color: #555;
}

button {
  margin-top: 20px;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #2d89ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1565d8;
}

.form-container {
  width: 700px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

form textarea {
  min-height: 100px;
  resize: vertical;
}

form button {
  width: 100%;
}

.preview-container {
  width: 800px;
  margin: 40px auto;
  text-align: center;
}

.resume-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.resume-box h1 {
  margin-bottom: 10px;
}

.resume-box h3 {
  margin-top: 25px;
  color: #2d89ff;
}